@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(3, 85, 1);
  background-color: #eef0ef;
  font-family: 'Cormorant Garamond', serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

p {
  font-family: 'Cormorant', serif !important;
  font-size: 19px;
}

@media (max-width: 1024px) {
  p {
    font-size: 18px;

  }
}

h1,
h3,
li {
  font-family: 'Nothing You Could Do', cursive;
}



@layer utilities {
  .nav::after {
    @apply content-[''] bg-white h-[1px] w-[0%] left-[-10px] -bottom-[3px] rounded-xl absolute duration-300
  }

  .nav:hover::after {
    @apply w-[120%]
  }
}